body{
    background-color: #FDE5EC;
}
p{
    color: #E48586;
}
button{
    background-color: #FCBAAD;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-weight: 500;
}

.main-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.react-pdf__Document{
    max-height: 840px;
    overflow: hidden;
    padding: 20px;
}
.main-section .pdf-section{
    height: 100%;
    width: 100%;
}
.pagination{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #E48586;
}


.upload-pdf{
height: 400px;
width: 700px;
display: flex;
border: 2px dotted #916DB3;
margin-top: 20px;
align-items: center;
justify-content: center;
}
.upload-pdf label{
    cursor: pointer;
}
